<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>


     <% if (success && success.length > 0) { %>
    <div
   
      class="flash-message absolute top-[5rem] left-[60%] -translate-x-1/2 -translate-y-1/2 p-3 sm:w-[20%] text-center bg-[#d4af37] text-white"
    >
      <%= success %>
    </div>
    <% } %>

    <div class="profile-page">
      <div class="profile flex sm:flex-row flex-col lg:gap-20 gap-5">
        <!-- ------ Sidebar -->
        <div
          class="side-bar sm:block hidden bg-charcolblack py-20 px-3 lg:w-[20%] md:w-[25%] flex h-screen text-ivorywhite"
        >
          <div class="flex flex-col gap-8 w-full px-2">
            <div class="heading text-2xl poppins font-semibold">
              <p>Your Details</p>
            </div>
            <div class="details flex flex-col gap-5">
              <div class="bg-ivorywhite px-3 py-4 text-charcolblack w-full">
                <%= user.name %>
              </div>
              <div class="bg-ivorywhite px-3 py-4 text-charcolblack w-full">
                <%= user.email %>
              </div>
            </div>
          </div>
        </div>
        <!-- ----- Responsive Sidebar -->
        <div
          class="side-bar sm:hidden block w-full bg-charcolblack py-20 px-3 w-full text-ivorywhite"
        >
          <div class="flex flex-col gap-8 w-full px-2">
            <div class="heading text-2xl poppins font-semibold">
              <p>Your Details</p>
            </div>
            <div class="details flex flex-col gap-5">
              <div class="bg-ivorywhite px-3 py-4 text-charcolblack w-full">
                <%= user.name %>
              </div>
              <div class="bg-ivorywhite px-3 py-4 text-charcolblack w-full">
                <%= user.email %>
              </div>
            </div>
          </div>
        </div>
        <!-- ------------ Order History -->
        <div
          class="order-history-container poppins py-20 lg:w-[50%] w-[100%] sm:px-0 px-5"
        >
          <div class="order-history flex flex-col gap-8">
            <div class="heading">
              <p class="text-4xl font-bold poppins">Your Order History</p>
            </div>
            <div class="order-history-cards flex flex-col gap-5">
              <% if(user.placeOrders.length > 0) { %> <%
              user.placeOrders.forEach(order => { %>

              <div
                class="profile-card flex flex-row justify-between w-full md:text-[18px] sm:text-[16px] text-[14px] font-medium items-center bg-ivorywhite border border-[#1c1c1c] sm:pr-5 pr-1"
              >
                <div class="">
                  <div
                    class="bg-golden md:w-[100px] md:h-[100px] w-[40px] h-[40px]"
                  >
                    <img
                      src="<%= order.product.image %>"
                      alt=""
                      class="w-full md:w-[100px] md:h-[100px] w-[40px] h-[40px]"
                    />
                  </div>
                </div>

                <span class=""><%= order.product.name %> </span>
                <span class="">
                  Rs <%= order.quantity * ((order.product.price || 0) -
                  (order.product.discount || 0)) %>
                </span>
                <span>
                  <%= order.quantity %>
                </span>
                <span class=""><%= order.product.category %> </span>
              </div>
              <% }) %> <% } else { %>
              <p>No Orders found.</p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
      <script src="/javascripts/script.js"></script>
  </body>

</html>
